/* 詳細画面のテーブル書式 */
table.deal-detail_table {
  width: 80%;
  margin: auto;
  border: 1px solid;
}

.deal-detail_table th {
  font-size: 15px;
  width: 50%;
  background-color: #F2F2F2;
}

.deal-detail_table td {
  text-align: center;
  width: 50%;
  background-color: #ffffff;
}

/* 取引画面_写真サイズ */
img.deal{
  width: 80px;
  height: 80px;
  padding: 10px;
}

/* 取引画面_写真サイズ */
a.deal{
  width: 80px;
  height: 80px;
  padding: 10rem 10px 10px 10px;
}

div#img-deal {
  text-align: center;
}
/* 取引詳細画面_写真サイズ */
img.deal-detail{
  width: 150px;
  height: 150px;
}

/* 取引詳細画面_商品説明 */
div.deal-detail_info{
    width:90%; /* ボックスの横幅を指定 */
    border: 3.5px dashed #000000; /* 境界線を実線で指定 */
    background-color: #ffffff;
    padding: 15px;
    border-radius: 30px;
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
}

div.deal-detail{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

/* 取引詳細画面_ボタン */
div#deal-detail_button {
  padding-top: 20px;
}

img#deal-detail_button {
  width: 40px;
  height: 40px;
}

/* 取引詳細画面_青ボタン */
button.showing{
  font-size: 0.8rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
  border-radius: 0.7rem;
  background-color: #1CA5B8;
  margin-right: 20px;
  border: none;
}

/* 取引詳細画面_赤ボタン */
button.stop{
  font-size: 0.8rem;
  padding: 0.5rem 1.3rem 0.5rem 1.3rem;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
  border-radius: 0.5rem;
  background-color: #d7003a;
  border: none;
}

/* こっから下取引一覧画面の追加分 */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
summary {
    font-family: 'Noto Sans JP', sans-serif;
	list-style: none;
	position: relative;
	margin-bottom: 10px;
	padding: 20px 70px 20px 30px;
	cursor: pointer;
    color: #ffffff;
    font-weight: bold;
	background-color: #832742;
}

summary::-webkit-details-marker {
	display: none;
}

summary:hover,
details[open] summary {
	background-color: #c0a2c7;
}

summary::after {
	content: '+';
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	transition: transform 0.5s;
	font-size: 30px;
}

details[open] summary::after {
	transform: translateY(-50%) rotate(45deg);
}

.answer{
	padding: 5px 10px;
}

details[open] .answer {
	animation: fadein 1s ease;
}

@keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

#deallist_box{
  font-size: 20px; 
  height: 50px;
  width: 100%;
  background-color: white;
}