/*画像アップロードボタン*/
.btn-flat-border {
  display: inline-block;
  padding: 2em 6em;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .2s;
  height: 100px;
  width: 100px;
}

/* 投稿ボタン */
.newDeal-btn{
  position: fixed;
  top: 74px;
  right: 1%;
  border: none;
  font-weight: 700;
  font-size: 15px;
  height: 40px;
  width: 100%;
  background-color: white;
  color:#3a78ff;
  text-align: center;
}

#newDeal_info{
  padding:0px 0px;
  width: 100%;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}

/*新規登録画面_画像アップロード*/
#preview img {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: solid 1px silver;
}

/*input要素の横幅を画面に合わせる*/
.width { width: 75%; }

/* input要素の縦横幅を画面に合わせる */
.nd_size {
  width: 75%;
  height: 30px;
}

.nd_size_times{
  width: 35%;
  height: 30px;
}
/* 受け渡し期間の波線につけてる余白 */
.margin10px{
  margin-left: 10px;
  margin-right: 10px;
}

.leftmrg30px{
  margin-left: 30px;
}

/*input要素を右寄せにする*/
.right { text-align: right; }

/*input要素の背景色をグレーにする*/
.gray {
  background-color:#fcfcfc;
  padding: 0px 0px 10px;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

/*詳細画面見るボタン*/
#insert-fix{
  font-family: 'Noto Sans JP', sans-serif;
  padding: 0em 2em;
}
.button-flex{
  display:flex;
  justify-content:center;
}
button.btn-border {
  font-weight: bold;
  font-size: 20px;
  width: 200px;
  height: 50px;
  color: #000;
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-transform-style: preserve-3d;

  transform-style: preserve-3d;
}

button.btn-border:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 15px;
  height: 100%;

  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);

  border-radius: 0 50% 50% 0;
  background: #832742;
}

button.btn-border:hover:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  line-height: 40px;

  width: 40px;
  height: 40px;

  content: '\f061';
  -webkit-transform: translateX(450%) translateY(.15rem);
  transform: translateX(450%) translateY(.15rem);

  color: #fff;
  border-radius: 50%;
}

/*遊び心*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

#plate {
    position: relative;
    margin: 0 auto;
    height: 250px;
    width: 250px;
    border-bottom: solid 5px #B4B4B4;
    border-radius: 0 0 10px 10px / 5px;
}
#plate:after {
    position: absolute;
    bottom: -10px;
    content: " ";
    margin: 0 25px;
    width: 200px;
    height: 5px;
    background-color: #DDD;
    border-radius: 0 0 5px 5px;
}

#bottle {
    position: absolute;
    width: 50px;
    bottom: 0;
    left: 100px;
    z-index: 10;
}
    #bottle .cork {
        position: relative;
        margin: 0 auto;
        background-color: #832742;
        width: 20px;
        height: 40px;
        border-radius: 2px 2px 0 0;
        border-bottom: solid 3px #FBC85F;
    }
    #bottle .cork:before {
        position: absolute;
        top: 5px;
        left: -2px;
        display: block;
        content: " ";
        background-color: #8E1B10;
        border-top: solid 1px #9A2A1F;
        border-bottom: solid 1px #9A2A1F;
        
        width: 24px;
        height: 10px;
        border-radius: 2px;
    }
    #bottle .neck {
        margin: 0 auto;
        background-color: rgba(41, 105, 70, 0.9);
        width: 20px;
        height: 10px;
    }
    #bottle .body {
        position: relative;
        margin: 0 auto;
        padding-top: 30px;
        background-color: rgba(41, 105, 70, 0.9);
        width: 50px;
        height: 110px;
        border-radius: 20px 20px 5px 5px;  
    }
/*
    #bottle .body:before {
        position: absolute;
        display: block;
        content: " ";
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 0px 0px 5px 5px; 
    }
*/
    #bottle .label {
        position: relative;
        background-color: #F2EAB9;
        height: 30px;
        border: solid 2px #CFC89B;
        z-index: 25;
        animation: spinning-label 3s linear infinite;
    }
    #bottle .label-shadow {
        position: absolute;
        height: 34px;
        background-color: rgba(0, 0, 0, 0.3);
        top: 30px;
        z-index: 20;
        animation: spinning-shadow 3s linear infinite;
    }

    @keyframes spinning-label {
        0% {
            margin-left: 0%;
            border-left-width: 0px;
            margin-right: 100%;
            border-right-width: 2px;
        }
        49% {
            border-left-width: 0px;
            border-right-width: 2px;
        }
        50% {            
            margin-left: 0%;
            border-left-width: 2px;
            margin-right: 0%;
            border-right-width: 0px;
        }
        98% {
            border-left-width: 2px;            
        }
        99% { 
            margin-left: 100%;
            border-left-width: 0px;
            margin-right: 0%;
            border-right-width: 0px;
        }
        100% {
            margin-left: 0%;
            border-left-width: 0px;
            margin-right: 100%;
            border-right-width: 0px;
        }
    }

    @keyframes spinning-shadow {
        0% {
            left: 0;
            width: 50px;
            margin-left: 0px;
        }
        50% {     
            left: 0;     
            width: 0px;
            margin-left: 0px;
        }
        51% {
        
            margin-left: 50px;
        }
        100% {
            width: 50px;
            margin-left: 0;
        }
    }

#glass {
    position: absolute;
    width: 40px;
    bottom: 0;
    left: 100px;
    
    animation: spinning-glass 3s ease-in-out infinite;
}
    @keyframes spinning-glass {
        0% { 
            left: 25px;
            z-index: 20;
        }
        50% {
            left: 185px;
            z-index: 20;
        } 
        51% {
            z-index: 0;                
        }
        100% {            
            left: 25px;
            z-index: 0;
        }
    }
    #glass .bowl {
        background-color: rgba(190, 190, 190, 0.5);
        padding-top: 10px;
        width: 40px;
        height: 30px;
        border-radius: 5px 5px 20px 20px / 20px;
    }  

        #glass .bowl .wine {
            background-color: #8E1B1C;
            margin: 0 auto;
            width: 30px;
            height: 25px;
            border-radius: 4px 4px 20px 20px / 20px;
        }  
    #glass .stem {
        margin: 0 auto;
        background-color: rgba(190, 190, 190, 0.5);
        width: 5px;
        height: 30px;        
    }
    #glass .foot {
        background-color: rgba(190, 190, 190, 0.5);
        width: 40px;
        height: 5px;
        border-radius: 20px 20px  0 0 / 5px;
    }

#cork {
    position: absolute;
    height: 25px;
    width: 15px;
    bottom: 0;
    background-color: #F2EAB9;
    border-top: solid 2px #8E1B1C;
    
    animation: spinning-cork 3s ease-in-out infinite;
}
     @keyframes spinning-cork {
        0% { 
            left: 150px;
            z-index: 0;
        }
        50% {
            left: 85px;
            z-index: 0;
        } 
        51% {
            z-index: 20;                
        }
        100% {            
            left: 150px;
            z-index: 20;
        }
    }