/* This is a CSS file */


#welcom {
  background-color: #CCC7A4;
}

#wine{
    text-align: center;
}

#wineWindow{
    width: 252px;
    height: 230px;
} 
 body,p,form,input{margin: 0}
#form{
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
    } 



.form-title{
    text-align: center;
    font-size: 45px;
    }
.subTitle{
  text-align: center;
    font-size: 20px;
    font-family: Montserrat Subrayada;
}
@font-face {
  font-family: 'Montserrat Subrayada';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserratsubrayada/v12/U9MD6c-o9H7PgjlTHThBnNHGVUORwteQQH8MaOY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.text,.pass{
    margin-bottom: 20px;
    }

input[type="text"],
input[type="password"] {
    width: 230px;
    padding: 4px;
    font-size: 14px;
    }

   /*その他と主な共通部分は省略*/
a.bt-samp37{
  display: block;
  position: relative;
  text-decoration: none;
  height:35px;
  width: 120px;
  line-height: 37px;
  text-align: center;
  color: #fff;
  background: #AFBAC5;
  border:solid 1px #fff;
  overflow: hidden;
}
a.bt-samp37:before{
  content:"";
  position: absolute;
  bottom: -27px;
  left: 0;
  height:35px;
  width:120px;
  background : #8B1B34;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
a.bt-samp37:hover:before{
  bottom:0;
}
.bt-wine{
  display:flex;
  justify-content:center;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.form {
  position: relative;
  z-index: 1;
  background: #B1A161;
  max-width: 360px;
  margin: 0 auto 80px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

/*以下お試しタブのCSS*/
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wrap-tab{
  overflow: hidden;
}

.list-tab{
  display: flex;
  margin: 0 -2px;
  border-bottom: 3px solid #8B1B34;
}
.list-tab > li{
  display: block;
  padding: 0.5em 1em;
  margin: 0 2px;
  width: 100%;
  color: #fff;
  text-align: center;
  background: #ccc;
  box-sizing: border-box;
  cursor: pointer;
}

.list-tab .active{
  background: #8B1B34;
}

.tab-content{
  display: none;
  padding: 1em;

  border-bottom: 1px solid #8B1B34;
  border-left: 1px solid #8B1B34;
  border-right: 1px solid #8B1B34;
}
.tab-content.active{
  display: block;
}

#errMessage{
  color: rgba(175, 10, 10, 0.993);
  font-size: 12px;
}