/* This is a CSS file */


#welcom {
  background-color: #CCC7A4;
}

#wine{
    text-align: center;
}

#wineWindow{
    width: 252px;
    height: 230px;
} 
 body,p,form,input{margin: 0}
#form{
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
    } 



.form-title{
    text-align: center;
    font-size: 45px;
    }
.subTitle{
  text-align: center;
    font-size: 20px;
    font-family: Montserrat Subrayada;
}
@font-face {
  font-family: 'Montserrat Subrayada';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserratsubrayada/v12/U9MD6c-o9H7PgjlTHThBnNHGVUORwteQQH8MaOY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.text,.pass{
    margin-bottom: 20px;
    }

input[type="text"],
input[type="number"],
input[type="password"] {
    width: 230px;
    padding: 4px;
    font-size: 14px;
    }

   /*その他と主な共通部分は省略*/
a.bt-samp37{
  display: block;
  position: relative;
  text-decoration: none;
  height:35px;
  width: 120px;
  line-height: 37px;
  text-align: center;
  color: #fff;
  background: #AFBAC5;
  border:solid 1px #fff;
  overflow: hidden;
}
a.bt-samp37:before{
  content:"";
  position: absolute;
  bottom: -27px;
  left: 0;
  height:35px;
  width:120px;
  background : #832742;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
a.bt-samp37:hover:before{
  bottom:0;
}
.bt-wine{
  display:flex;
  justify-content:center;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.form {
  position: relative;
  z-index: 1;
  background: #B1A161;
  max-width: 360px;
  margin: 0 auto 80px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 5px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

/*以下お試しタブのCSS*/
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wrap-tab{
  overflow: hidden;
}

.list-tab{
  display: flex;
  margin: 0 -2px;
  border-bottom: 3px solid #832742;
}
.list-tab > li{
  display: block;
  padding: 0.5em 1em;
  margin: 0 2px;
  width: 100%;
  color: #fff;
  text-align: center;
  background: #ccc;
  box-sizing: border-box;
  cursor: pointer;
}

.list-tab .active{
  background: #832742;
}

.tab-content{
  display: none;
  padding: 1em;

  border-bottom: 1px solid #832742;
  border-left: 1px solid #832742;
  border-right: 1px solid #832742;
}
.tab-content.active{
  display: block;
}

.errMessage{
  color: rgba(175, 10, 10, 0.993);
  font-size: 12px;
}

.rePass{
  font-size: 10px;
}

/*以下、利用規約*/
/* ボタン（デザインはお好みで） */
.my_modal_btn{
    display: block;
    width: 93%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    background-color: #935263;
    color: #ffffff;
}

/* チェックボックスを非表示 */
#my_modal1{
    display: none;
}
#my_modal2{
    display: none;
}
/* モーダル */
.my_modal_body1{    
    display: none;
    position: fixed;
    z-index: 100000;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    background-color: #FFF;
    overflow-y: auto;
    /* スマホ用スクロール */
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    /* お好みで */
    width: 90%;
    max-height: 80%;
    max-width: 600px;
}
.my_modal_body2{    
    display: none;
    position: fixed;
    z-index: 100000;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    background-color: #FFF;
    overflow-y: auto;
    /* スマホ用スクロール */
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    /* お好みで */
    width: 90%;
    max-height: 80%;
    max-width: 600px;
}

/* モーダル内ヘッダー */
.my_modal_header{
    padding: 15px 10px;
    background-color: #23282D;
    color: #FFF;
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
}

/* クローズアイコン */
.my_modal_close{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
}
.my_modal_close_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
.my_modal_close_icon span::before,
.my_modal_close_icon span::after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84%;
    height: 16%;
    margin: -8% 0 0 -42%;
    background: #FFF;
}
.my_modal_close_icon span::before{
    transform: rotate(-45deg);
}
.my_modal_close_icon span::after{
    transform: rotate(45deg);
}

/* コンテンツ表示 */
.my_modal_content{
    padding: 5px 10px;
    font-size: 13px;

}

/* 背景を暗くする */
.my_modal_overlay{
    display: none;
    position: fixed;
    z-index: 90000;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-color: #111;
    opacity: 0.3;
    cursor: pointer;
}

/* チェック時オーバーレイとコンテンツを表示 */
#my_modal1:checked ~ .my_modal_body1, #my_modal1:checked ~ .my_modal_overlay{
    display: block;
}
#my_modal2:checked ~ .my_modal_body2, #my_modal2:checked ~ .my_modal_overlay{
    display: block;
}

/* 利用規約本文の装飾 */
.Inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

p{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}

.Inner-Headline {
  font-weight: bold;
  font-size: 32px;
}
@media screen and (max-width: 480px) {
  .Inner-Headline {
    font-size: 24px;
  }
}
.Inner-Text {
  letter-spacing: 0.05em;
  line-height: 1.8;
  font-size: 15px;
}
.Inner-Text.first {
  margin-top: 36px;
}
.Inner-Box {
  margin-top: 16px;
}
.Inner-Box-Headline {
  font-weight: bold;
  font-size: 28px;
}
@media screen and (max-width: 480px) {
  .Inner-Box-Headline {
    font-size: 20px;
  }
}
.Inner-Box-List {
  margin: 20px 0 0 40px;
}
.Inner-Box-List-Item {
  margin-top: 10px;
  letter-spacing: 0.05em;
  line-height: 1.8;
  list-style-type: decimal;
}
.Inner-Box-List-Item-Ol {
  margin: 20px 0 0 40px;
}
.Inner-Box-List-Item-Ol-Item {
  margin-top: 10px;
  letter-spacing: 0.05em;
  line-height: 1.8;
  list-style-type: decimal;
}
.Inner-Box-List-Item-Link {
  text-decoration: underline;
  display: inline-block;
  color: red;
}
.Inner-Box-Contact {
  margin-top: 36px;
}
.Inner-Box-Contact-Text {
  letter-spacing: 0.05em;
  line-height: 1.8;
  font-size: 15px;
}
.Inner-Box-Contact-Text:nth-child(2) {
  margin-top: 16px;
}
.Inner-Box-Item {
  letter-spacing: 0.05em;
  line-height: 1.8;
  font-size: 15px;
}
@media screen and (max-width: 480px) {
  .Inner-Box-Item {
    letter-spacing: inherit;
    font-size: 14px;
  }
}
#tos1{
    margin-left: 1rem;
    text-indent: -1rem;
}
#tos2{
    margin-left: 3rem;
    text-indent: -2rem;
}
#tos3{
    margin-left: 4rem;
    text-indent: -3rem;
}
#TOScheck{
    text-align: center;
    font-size: 20px;
}
#PrivacyCheck{
    text-align: center;
    font-size: 20px;
}