/* 詳細画面のモーダル関連機能 */
#d_button{
  display: flex;
  flex-wrap: wrap;
}

#d_ok{
	width:100px;
  color: #2496fc;
	border:2px solid #0085FC;
	border-radius:4px;
	text-align: center;
	padding:12px 0;
	margin:16px auto 0;
}

#d_cancel{
	width:100px;
  color: #ff3a3a;
	border:2px solid #FF0000;
	border-radius:4px;
	text-align: center;
	padding:12px 0;
	margin:16px auto 0;
}

#mask{
	background:rgba(0,0,0,0.4);
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:1;
}

#d_modal{
	background:#fff;
  height: 415px;
	width:300px;
	padding:20px;
	border-radius:4px;
	position:fixed;
	top:40px;
	left:0;
	right:0;
	margin:0 auto;
	transition:transform 0.4s;
	z-index:70;
  text-align: center;
  /* overflow-y: auto; */
  overflow-y: scroll;
}

#mask.hidden{
	display:none;
}

#d_modal.hidden{
	transform:translate(0,-750px);
}

.modal_center{
  vertical-align: middle;
}

.modal_box{
  border: solid 2px #999999;
  border-radius:20px;
  padding: 10px 5px 10px 5px;
}

table.modal_table {
  width: 100%;
  margin: auto;
  text-align: left;
}

th.modal_table {
  font-size: 15px;
  width: 40%;
  text-align: center;
}

#m_item_info{
  text-align: left;
}

.wave{
  margin-left: 40px;
}
/* モーダル終了 */

/* dealdetailのモーダル */

#cancel_modal{
	background:#fff;
  height: 200px;
	width:300px;
	padding:20px;
	border-radius:4px;
	position:fixed;
	top:40px;
	left:0;
	right:0;
	margin:0 auto;
	transition:transform 0.4s;
	z-index:80;
  text-align: center;
  /* overflow-y: auto; */
  overflow-y: scroll;
}

#cancel_modal.hidden{
	transform:translate(0,-800px);
}

#d_change{
	width:100px;
  color: #2496fc;
	border:2px solid #0085FC;
	border-radius:4px;
	text-align: center;
	padding:12px 0;
	margin:16px auto 0;
}

#d_delete{
	width:100px;
  color: #ff3a3a;
	border:2px solid #FF0000;
	border-radius:4px;
	text-align: center;
	padding:12px 0;
	margin:16px auto 0;
}

#mask2{
	background:rgba(0,0,0,0.4);
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:75;
}

#mask2.hidden{
	display:none;
}