/*ヘッダーの文字中央寄せ*/
.myCenter {
  display: block;
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  font-family: 'Hachi Maru Pop', cursive;
}
/*ハンバーガーリンク*/
.myMenu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 65px;
    width: 65px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #e6dfb3;
}
.myMenu-btn span,
.myMenu-btn span:before,
.myMenu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #000000;
    position: absolute;
}
.myMenu-btn span:before {
    bottom: 8px;
}
.myMenu-btn span:after {
    top: 8px;
}
/*ハンバーガーリンク押下した時の線の移動*/
#menu-btn-check:checked ~ .myMenu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .myMenu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .myMenu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
