/* *,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
} */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* font-size:0.65rem; */
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

button.btn-malformation {
  font-size:20px;

  padding: 2rem 3rem;

  color: #fff;
  border-radius: 100% 80px / 80px 100%;
  background-color: #b33e5c;
}

button.btn-malformation:hover {
  color: #fff;
  border-radius: 60% 80% / 100% 80%;
}

.qr{
  font-size: 20px;
  text-align:center;
}