@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";


/*ヘッダーの文字中央寄せ*/
.center {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: Comic Sans MS;
}
/*ヘッダー背景色*/
.site-header {
  /* 画面の調整が完了次第 relative から fixed に変更する */
  /* position: fixed; */
  position: relative;
  top: 0%;
  right: 0%;
  left: 0%;
  width: 100%;
  background-color: #e6dfb3;
}
/*ヘッダー使用メディア別の大きさ*/
.site-header__wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  @media (min-width: 600px) {
    .site-header__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0; } }
@media (min-width: 600px) {
  .nav__wrapper {
    display: flex; } }
 
@media (max-width: 599px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #e6dfb3;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
  }
}
/*ハンバーガーリンク*/
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #e6dfb3;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #000000;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
/*ハンバーガーリンク押下した時の線の移動*/
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
/*ハンバーガーメニュー*/
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #000000;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 15px;
    height: 15px;
    border-top: solid 5px #ffffff;
    border-right: solid 5px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 15px;
    top: 16px;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #000000;
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}
.mini-text{font-size:20px;}/*文字大きさ*/

ul.bottom-menu {
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    height:50px;/*高さ*/
    margin:0;
    padding:0;
    background-color:#e6dfb3;/*背景色*/
    z-index:30;}

ul.bottom-menu li {
    float:left;
    width:20%;
    background-color:#e6dfb3;/*背景色*/
    list-style-type:none;
    text-align:center;
    font-size:25px;/*アイコンのサイズ*/}

.bottom-menu li a {
    display: block;
    color:#000000;/*アイコン＆文字の色*/
    padding-top:10px;
    padding-bottom:5px;
    line-height:10px;
    text-decoration:none;}

.bottom-menu li a:hover {
    color:#3ac3ff;/*マウスオーバー時の色*/}

/* === 展開メニュー === */

ul.menu-second-level {
    visibility: hidden;
    opacity: 0;
    z-index:1;}

ul.menu-second-level li a{
    border-top:1px dashed #a9a9a9;/*展開の枠点線*/
        font-size:15px;/*展開メニューの文字サイズ*/
        line-height:30px;/*文字の縦幅*/}

.menu-second-level li a:hover {
    height:100%;
    background: lightgrey;/*マウスオーバーの色*/}

li.menu-width-max ul.menu-second-level {
    position: absolute;
    bottom: 47px;/*高さ*/
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding:0;}

li.menu-width-max:hover ul.menu-second-level {
    bottom: 47px;/*高さ*/
    visibility: visible;
    opacity: 1;}

li.menu-width-max ul.menu-second-level li {
    float: left;
    width: 100%;
    border: none;}

  /*スマホの時だけ*/
@media(max-width: 767px){ 

/*ボトムメニュー付けたのでフッタを底上げする*/
#footer{margin-bottom:48px;}
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

 /*センタリング*/
.flex{
  padding:50px 0px;
  display:flex;
  justify-content:center;
}

/* 投稿ボタン */
.newDeal-btn{
  position: fixed;
  top: 74px;
  right: 1%;
  border: none;
  font-weight: 700;
  font-size: 15px;
  height: 40px;
  width: 100%;
  background-color: white;
  color:#3a78ff;
  text-align: center;
}

#newDeal_info{
  padding:0px 0px;
}

　/*譲渡ボタン*/
.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;

  background: #fff;
}

a.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 3px solid #000;
  border-radius: 0.5rem;
}

a.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

a.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}

a.btn-border-shadow--color {
  border-radius: 0;
  background:#87cefa;
}

a.btn-border-shadow--color:before {
  border-radius: 0;
}


/*画像アップロードボタン*/
.btn-flat-border {
  display: inline-block;
  padding: 4em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  height: 100px;
  width: 100px;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}

　/*新規登録画面_画像アップロード*/
#preview img {
  width: 200px;
  margin: 10px;
  border: solid 1px silver;
}

/*input要素の横幅を画面に合わせる*/
.width { width: 75%; }

/* input要素の縦横幅を画面に合わせる */
.nd_size {
  width: 75%;
  height: 30px;
}

.nd_size_times{
  width: 35%;
  height: 30px;
}
/* 受け渡し期間の波線につけてる余白 */
.margin10px{
  margin-left: 10px;
  margin-right: 10px;
}

.leftmrg30px{
  margin-left: 30px;
}

/*input要素を右寄せにする*/
.right { text-align: right; }

/*input要素の背景色をグレーにする*/
.gray {
  background-color:#F5F5F5;
  padding: 0px 0px 10px;
}



#prodact_lists{
  background-color:#E6E6E6;
}

#detail{	
  text-align: center;
}

.container{
  width: 100%;
}

#item_box{
  margin-top: 30px; 
  height: 130px;
  background-color: white;
}

.container_parent{
  display: flex;
  padding: 25px 0px;
  flex-wrap: wrap;
}

.container_left{
  width: 35%;
  text-align: center;
}

.container_center{
  width: 45%;
  text-align: left;
}

.container_right{
  width: 20%;
  text-align: right;
}
.size{ 
  font-size: 5em;
  color:#0080f0;
}
.back_size{ 
  font-size: 2em;
  color:black;
}

#item_name{
  text-align: center;
}

.container_detail_name{
  width: 70%;
}

.container_detail_info{
  width: 80%;
}

#justified {
  display: flex;
  flex-wrap: wrap;
}

#left_just{
  width: 50%;
  text-align: left;
}

#right_just{
  width: 50%;
  text-align: right;
}

#info_box{
  display: block;
  margin: auto;
  background-color:#E6E6E6;
}

/* 詳細画面のテーブル書式 */
table.detail_table {
  width: 80%;
  margin: auto;
  border: 1px solid;
}

th.detail_table {
  font-size: 15px;
  width: 40%;
  background-color: #F2F2F2;
}

button.plz{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
  border-radius: 0.5rem;
  background-color: #1CA5B8;
}


/* 画像プレビュー */
button.transparent {
  color: black;
  background: transparent;
  border: none;
  outline: none;
}

/* 戻るボタン付きのヘッダー */
.detail_head {
  display: flex;
  position: relative;
  z-index: 50;
  flex-wrap: wrap;
}

.back_button{
  width: 25%;
  text-align: left;
}

.page_title{
  width: 50%;
  text-align: center;
}

.header_right{
  width: 25%;
  text-align: right;
}

/*画像プレビュー*/
div figure{
  display: inline-block;
}

img{
    width: 65px;
    height: 65px;
}

/* ボイス一覧トップ */
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

img.voice-img{
    width: 55px;
    height: 55px;
}

ul.voice-list {
  list-style-type: none;
  background: whitesmoke;
  padding: 0 0.5em;
  position: relative;
}

ul.voice-list li {
  font-size: 25px;
  line-height: 1.6;
  padding: 0em 0 0em 1rem;
  display:;
  vertical-align:middle;
  border-bottom: 2px solid #87cefa;
  list-style-type: none!important;
}

li.voice-list-first {
  background:#87cefa;
  color: azure;
}

a.voice-list  {
   display: inline-block;
   vertical-align: middle;
}

ul.voice-list li.voice-list-first:hover {
  background-color:skyblue;
}

ul.voice-list li:hover {
  background-color:#f0f8ff;
}

li:nth-child(2n) {
  background: #FFF;
}

/* ボイス一覧（先生＆お気に入り） */
ul.next-voice-list {
  list-style-type: none;
  padding: 0 0.5em;
  position: relative;
}

ul.next-voice-list li {
  font-size: 15px;
  line-height: 1.5;
  padding: 0.5em 0 0.5em 1.5em;
  border-bottom: 2px solid gray;
  list-style-type: none!important;
}

/* 詳細画面のモーダル関連機能 */
#d_button{
  display: flex;
  flex-wrap: wrap;
}

#d_ok{
	width:100px;
	border:2px solid #0085FC;
	border-radius:4px;
	text-align: center;
	padding:12px 0;
	margin:16px auto 0;
}

#d_cancel{
	width:100px;
	border:2px solid #FF0000;
	border-radius:4px;
	text-align: center;
	padding:12px 0;
	margin:16px auto 0;
}

#mask{
	background:rgba(0,0,0,0.4);
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:1;
}

#d_modal{
	background:#fff;
	width:300px;
	padding:20px;
	border-radius:4px;
	position:absolute;
	top:40px;
	left:0;
	right:0;
	margin:0 auto;
	transition:transform 0.4s;
	z-index:70;
  text-align: center;
}

#mask.hidden{
	display:none;
}

#d_modal.hidden{
	transform:translate(0,-500px);
}

.modal_box{
  border: solid 2px #999999;
  border-radius:20px;
  padding: 1em 2em 2em;
}

table.modal_table {
  width: 100%;
  margin: auto;
}

th.modal_table {
  font-size: 15px;
  width: 50%;
}
/* モーダル終了 */

#barcode{
    width: 200px;
    height: 200px;
}

/* お気に入りボタン */
#favorite-button {
  width: 100px;
  height: 30px;
  border-color:#3ac3ff;
  background:#FFFFFF;
}
#favorite-button.blue {
  background: #3ac3ff;
  color: #FFFFFF;
}

div.btn-tag {
  font-size: 20px;
  padding: 0.08rem 0.08rem 0.08rem 40px;
}

div.btn-tag:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 0px;
  height: 100%;

  content: "";

  border-radius: 0.5rem 0 0 0.5rem;
}

.btn,
button.btn {
  font-size: 0.85rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

button.btn-tag--favorite {
  color: #3ac3ff;
  background:#FFFFFF;
  border: 1px solid #3ac3ff;
}

button.btn-tag--favorite:before {
  background: #fff;
}

button.btn-tag--favorite i {
  font-size: 100%;

  position: absolute;
  top: 0;
  left: 0;

  width: 100px;
  padding: 0.55rem 0.55rem;

  -webkit-transition: all 0.3s;

  transition: all 0.3s;
  text-align: center;
  letter-spacing: 0;

  opacity: 0.8;
  color: #3ac3ff;
}

button.btn-tag--favorite.orange i {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #ffffff;
}

button.btn-tag--favorite.blue {
  background: #3ac3ff;
  color: #FFFFFF;
  opacity: 0.8;
}

#photo{
    max-width: 80px;
    max-height: 400px;
}

/* 取引詳細画面_写真サイズ */
img.deal-detail{
  width: 150px;
  height: 150px;
}

/* 取引詳細画面_商品説明 */
div.deal-detail_info{
    width:85%; /* ボックスの横幅を指定 */
    height: 200px; /* ボックスの高さを指定 */
    border: 3.5px dashed #000000; /* 境界線を実線で指定 */
    padding: 15px;
    
}

/* 取引詳細画面_ボタン */
#deal-detail_button {
  padding-top: 30px;
}

/* 取引詳細画面_青ボタン */
button.showing{
  font-size: 1rem;
  padding: 0.5rem 1.3rem 0.5rem 1.3rem;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
  border-radius: 0.7rem;
  background-color: #1CA5B8;
  margin-right: 20px;
  border: none;
}

/* 取引詳細画面_赤ボタン */
button.stop{
  font-size: 1rem;
  padding: 0.5rem 1.3rem 0.5rem 1.3rem;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
  border-radius: 0.5rem;
  background-color: #d7003a;
  border: none;
}