@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');


/*ヘッダーの文字中央寄せ*/
.center {
  display: block;
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  font-family: 'Hachi Maru Pop', cursive;
}
/*ヘッダー背景色*/
.site-header {
  /* 画面の調整が完了次第 relative から fixed に変更する */
  /* position: fixed; */
  position: relative;
  top: 0%;
  right: 0%;
  left: 0%;
  width: 100%;
  background-color: #e6dfb3;
}
/*ヘッダー使用メディア別の大きさ*/
.site-header__wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  @media (min-width: 600px) {
    .site-header__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0; } }
@media (min-width: 600px) {
  .nav__wrapper {
    display: flex; } }
 
@media (max-width: 599px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #e6dfb3;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
  }
}
/*ハンバーガーリンク*/
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #e6dfb3;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #000000;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
/*ハンバーガーリンク押下した時の線の移動*/
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
/*ハンバーガーメニュー*/
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #000000;
}
.menu-content ul {
    padding: 70px 10px 0;
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content li a::before {
    content: "";
    width: 15px;
    height: 15px;
    border-top: solid 5px #ffffff;
    border-right: solid 5px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 15px;
    top: 16px;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #000000;
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}

ul.bottom-menu {
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    height:50px;/*高さ*/
    margin:0;
    padding:0;
    background-color:#e6dfb3;/*背景色*/
    z-index:30;}

ul.bottom-menu li {
    float:left;
    width:20%;
    background-color:#e6dfb3;/*背景色*/
    list-style-type:none;
    text-align:center;
    font-size:25px;/*アイコンのサイズ*/}

.bottom-menu li a {
    display: block;
    color:#000000;/*アイコン＆文字の色*/
    padding-top:10px;
    padding-bottom:5px;
    line-height:10px;
    text-decoration:none;}

.bottom-menu li a:hover {
    color:#c0c7ca;/*マウスオーバー時の色*/}

/* 選択中のフッターの色を変える */
.bottom-menu li a.icon-blue{
    color:#3ac3ff;/*アイコンの色*/
}

  /*スマホの時だけ*/
@media(max-width: 767px){ 

/*ボトムメニュー付けたのでフッタを底上げする*/
#footer{margin-bottom:48px;}
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

 /*センタリング*/
.flex{
  padding:50px 0px;
  display:flex;
  justify-content:center;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-animation-02 {
  display: inline-block;
  width: 250px;
  text-align: center;
  background-color: #832742;
  border: 5px solid #832742;
  font-size: 20px;
  color: #832742;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 5px;
  position: relative;
}

.btn-animation-02 span {
  position: relative;
  z-index: 1;
}

.btn-animation-02::before,
.btn-animation-02::after {
  content: "";
  display: block;
  background-color: #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}
.btn-animation-02::before {
  left: 0;
}
.btn-animation-02::after {
  right: 0;
}

.btn-animation-02:hover:before,
.btn-animation-02:hover:after {
  width: 0;
  background-color: #FFF;
}

.btn-animation-02:hover {
  color: #FFF;
}

/*全体の背景*/
#prodact_lists{
  background-color:#f2f2f2;
}

#detail{	
  text-align: center;
}

.container{
  width: 100%;
}

#item_box{
  margin-top: 30px; 
  height: 130px;
  background-color: white;
}

#index_item_box{
  margin-top: 30px; 
  height: 180px;
  background-color: white;
}

.container_parent{
  display: flex;
  padding: 25px 0px;
  flex-wrap: wrap;
}

.container_left{
  width: 35%;
  text-align: center;
}

.container_center{
  width: 45%;
  text-align: left;
}

.container_right{
  width: 20%;
  text-align: right;
}
.size{ 
  font-size: 5em;
  color:#832742;
}
.back_size{ 
  font-size: 2em;
  color:black;
}

#item_name{
  text-align: center;
}

.container_detail_name{
  width: 70%;
}

.container_detail_info{
  width: 80%;
}

#justified {
  display: flex;
  flex-wrap: wrap;
}

#left_just{
  width: 50%;
  text-align: left;
}

#right_just{
  width: 50%;
  text-align: right;
}

#left_just_image{
  width: 33%;
  text-align: center;
}

#center_just_image{
  width: 33%;
  text-align: center;
}

#right_just_image{
  width: 33%;
  text-align: center;
}

#name_box{
  display: block;
  margin: auto;
  background-color: white;
  text-align: center;
  /* background-color:#E6E6E6; */
}

#info_box{
  display: block;
  margin: auto;
  background-color: white;
  text-align: left;
  /* background-color:#E6E6E6; */
}

/*欲しい！ボタン*/
button.plz{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
  border-radius: 0.5rem;
  background-color: #1CA5B8;
}


/* 画像プレビュー */
button.transparent {
  color: black;
  background: transparent;
  border: none;
  outline: none;
}

/* 戻るボタン付きのヘッダー */
.detail_head {
  display: flex;
  position: relative;
  z-index: 50;
  flex-wrap: wrap;
}

.back_button{
  width: 25%;
  text-align: left;
}

.page_title{
  width: 50%;
  text-align: center;
}

.header_right{
  width: 25%;
  text-align: right;
}

/*画像プレビュー*/
div figure{
  display: inline-block;
}

img{
    width: 65px;
    height: 65px;
}

img#detail_image{
    width: 240px;
    height: 240px;
}

img#modal_image{
    width: 200px;
    height: 200px;
}

img.index_image{
  width: 100px;
  height: 100px;
}

#barcode{
    width: 200px;
    height: 200px;
}

#photo{
    max-width: 80px;
    max-height: 400px;
}

p.tytle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
/* アカウント詳細 */
div.acount{
font-family: 'Amatic SC', cursive;
}

ul.acount{
  list-style-type: none;
  padding: 0.5rem 1.3rem 0.5rem 1rem;
}

li.acount{
  vertical-align: middle;
  padding: 0.7rem 0rem;
}

img.acount{
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

a.acount{
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0rem 0rem 0.1rem 2rem;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000000;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
    display:inline-block; 
}

::placeholder {
  color: rgba(196, 195, 194, 0.959);
}

.acountErrMsg {
  color:red;
}

/* アカウント詳細・通知 */
.ef {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}

.ef_first {
	padding: 2rem 0rem 2rem 0.6rem;
}

.ef input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0rem 0rem 0.1rem 2rem;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000000;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}

.ef input[type='text']:focus {
	border-bottom: 2px solid #832742da;
	outline: none;
}
div.ef_img{
  position: relative;
}
div.ef_div{
  position: relative;
	margin: 8px 3%;
  font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0rem 0rem 0.1rem 1.5em;
	transition: 0.s;
	letter-spacing: 1px;
	color: #000000;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}

div.acount-send{
    text-align:center;
}

button.acount{
  width: 170px;
  height: 50px;
  background-color: floralwhite;
  color: #1CA5B8;
  font-size: 20px;
  border: none;
  border-color: #1CA5B8;
}

/* 通知のcssはmessage.cssに移植しました */

/*もっと読み込む*/
.more,
button.more {
  color: #ccc;
  font-size: 15px;
  background-color: #832742;
}

.more:hover,
button.more:hover {
  color: #efefef;
  background: #c0a2c7;
}

button.btn--radius {
  border-radius: 100vh;
}

/*出品した譲渡品・交換品*/
a.myGiveTrade{
    font: 15px/24px sans-serif;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #832742;
	border: none;
}

img.myGiveTrade{
  width: 25px;
  height: 25px;
  vertical-align: middle;
  padding: 0rem 0rem 0.5rem 0rem;
}